::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  line-height: 19px;
}
::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  line-height: 19px;
}
:-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  line-height: 19px;
}
:-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  line-height: 19px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}
.header {
  margin: 0;
  background-image: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url(../img/header.png);
  background-image: no-repeat;
  background-color: aliceblue;
}
.header__header {
  display: flex;
  justify-content: center;
  padding-top: 39px;
}
.header__logo {
  margin: 0;
  display: flex;
  margin-right: 121px;
}
.header__img {
  margin: 0;
  margin-right: 9.9px;
}
.header__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
  margin-right: 101px;
  margin-top: 16px;
}
.header__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 19px;
}
.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.header__link:hover {
  background-color: #000;
  border-radius: 3px;
}
.header__link--active {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.header__buttons {
  display: flex;
}
.header__language {
  margin-top: 13px;
  display: flex;
  width: 96px;
  height: 32px;
  margin-right: 19px;
}
.header__flag {
  margin-right: 12px;
}
.header__p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 3px;
}
.button {
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.button--login {
  height: 40px;
  padding-top: 11px;
  padding-left: 29px;
  padding-right: 28px;
  padding-bottom: 12px;
  margin-top: 9px;
  border: 1px solid #ffffff;
  color: #fff;
  background-image: none;
  background-color: transparent;
}
.button--login:hover {
  background-color: #000;
  border-color: #000;
}
.button--login:active,
.button--login:focus {
  outline: none;
}
.header__block {
  width: 100%;
  padding-top: 159px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title {
  margin-top: 0;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 71px;
  line-height: 86px;
  display: flex;
  justify-content: center;
  letter-spacing: 3.9px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__text {
  margin-top: 0;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.header__text--margin {
  margin-bottom: 59px;
}
.button--header {
  height: 50px;
  padding-top: 16px;
  padding-left: 52px;
  padding-right: 53px;
  padding-bottom: 16px;
  background: #ffffff;
  border: #ffffff;
  margin: 0 auto;
  color: #ed4c5c;
  margin-bottom: 187px;
}
.button--header:hover {
  background: #f83636;
  border: #f83636;
  color: #fff;
}
.button--header:active,
.button--header:focus {
  outline: none;
}
.promo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 140px;
  padding-left: 165px;
  padding-right: 260px;
  padding-bottom: 110px;
  background: #ffffff;
}
.promo__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.promo__paragraph {
  margin: 0;
  max-width: 445px;
  width: 100%;
  margin-right: 91px;
  display: flex;
  flex-direction: column;
}
.title {
  margin: 0;
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}
.title--promo {
  margin-bottom: 44px;
}
.text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: justify;
}
.text--promo {
  margin-bottom: 20px;
}
.link {
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  text-decoration: none;
  color: #ed4c5c;
}
.link--promo {
  font-size: 14px;
  line-height: 140%;
  background-image: linear-gradient(#ed4c5c, #ed4c5c);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.link--promo:hover {
  background-size: 72px 1px;
}
.promo__videocontent {
  max-width: 478px;
  width: 100%;
  display: flex;
  margin-top: -46px;
}
.promo__video {
  border-radius: 15px;
  margin-left: -32px;
}
.features {
  background: #fafafa;
  display: flex;
  flex-direction: column;
}
.title--features {
  align-self: center;
  margin-top: 48px;
  margin-bottom: 75px;
}
.features__content {
  display: flex;
  align-items: flex-start;
  vertical-align: top;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 123px;
}
.features__block {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 30px;
}
.features__block--margin {
  margin-left: 0px;
}
.features__img {
  margin: 0;
  display: flex;
  max-width: 350px;
  width: 100%;
  border-radius: 8px;
}
.features__paragraph {
  margin: 0;
  max-width: 293px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  margin-top: -93px;
}
.heading {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}
.heading--features {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-left: 31px;
  margin-right: 32px;
  margin-bottom: 15px;
}
.chapter {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}
.chapter--features {
  letter-spacing: 0.1px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 26px;
}
.link--features {
  align-self: center;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 25px;
  background-image: linear-gradient(#ed4c5c, #ed4c5c);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.link--features:hover {
  background-size: 71px 1px;
}
.technology {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  padding-bottom: 77px;
}
.title--technology {
  align-self: center;
  margin-bottom: 63px;
}
.technology__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.technology__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 255px;
  width: 100%;
  margin-left: 30px;
}
.technology__block--margin {
  margin-left: 0;
}
.technology__index {
  margin: 0;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
}
.technology__icon{
  display: flex;
  align-self: center;
  height: 80px;
  z-index: 1;
  margin-top: -61px;
}
.technology__paragrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 34px;
  padding-right: 30px;
  padding-bottom: 34px;
}
.heading--technology {
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 10px;
}
.chapter--technology {
  line-height: 14px;
  text-align: center;
  color: #000000;
}
.gallery {
  display: flex;
  justify-content: center;
  background: #ed4c5c;
  padding-top: 94px;
  padding-left: 164.5px;
  padding-right: 216px;
  padding-bottom: 95px;
}
.gallery__content {
  display: flex;
  justify-content: center;
}
.gallery__paragrap {
  margin: 0;
  max-width: 445px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  margin-right: 80px;
}
.title--gallery {
  margin-bottom: 45px;
  color: #ffffff;
}
.text--gallery {
  color: #ffffff;
  margin-bottom: 44px;
}
.gallery__links {
  margin-left: -3px;
}
.gallery__icon {
  margin-right: 20px;
  background-image: linear-gradient(#fff, #fff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.gallery__icon:hover {
  background-size: 72px 1px;
}
.gallery__icon--windows {
  margin-bottom: 4px;
}
.gallery__slider {
  display: block;
  max-width: 533px;
  width: 100%;
  max-height: 311px;
}
.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 117px;
  padding-left: 176px;
  padding-right: 165px;
  padding-bottom: 78px;
  margin-bottom: 45px;
}
.contact__content {
  display: flex;
  justify-content: center;
}
.contact__paragrap {
  max-width: 445px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 124px;
}
.title--contact {
  margin-bottom: 54px;
}
.contact__form {
  margin: 0;
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact__form1 {
  display: flex;
  margin-bottom: 24px;
}
.contact__input {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  outline: none;
  padding-top: 21px;
  padding-left: 31px;
  padding-right: 51px;
  padding-bottom: 18px;
}
.contact__input--form1 {
  max-width: 255px;
  width: 100%;
  margin-right: 30px;
}
.contact__form2 {
  display: flex;
  max-width: 540px;
  width: 100%;
  flex-direction: column;
  margin-bottom: 3px;
}
.contact__input--form2 {
  max-width: 540px;
  width: 100%;
  padding-top: 21px;
  padding-left: 31px;
  padding-right: 100px;
  padding-bottom: 18px;
  margin-bottom: 24px;
}
.contact__input--select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/ChevronDown.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 25px top 50%, 0 0;
}
.button--contact {
  width: 160px;
  height: 50px;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  color: #ffffff;
}
.button--contact:hover {
  background-color: #000;
  border-color: #000;
}
.button--contact:active,
.button--contact:focus {
  outline: none;
}
.footer {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 85px;
  padding-bottom: 86px;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
}
.footer__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 102px;
}
.footer__block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.heading--footer {
  margin-bottom: 33px;
}
.chapter--footer {
  line-height: 18px;
  text-decoration: none;
}
.footer__block--width1 {
  margin-right: 113px;
}
.footer__list {
  margin: 0;
  padding: 0;
  margin-top: -5px;
  text-decoration: none;
}
.chapter--item {
  list-style-type: none;
  text-transform: capitalize;
  line-height: 19px;
}
.chapter--a {
  background-image: linear-gradient(#ed4c5c, #ed4c5c);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.chapter--a:hover {
  background-size: 100% 2px;
}
.footer__block--width2 {
  margin-right: 182px;
}
.chapter--info {
  margin-bottom: 5px;
}
.chapter--tel {
  margin-bottom: 16px;
}
.footer__link--icon {
  margin-right: 8px;
}
.footer__icon {
  background-image: linear-gradient(#000, #000);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.footer__icon:hover {
  background-size: 72px 1px;
}
.footer__block--width3 {
  margin-right: 162.5px;
}
.footer__img {
  margin-left: 6px;
}
.footer__footer {
  margin-left: -5px;
}
@media (max-width: 1324px) {
  .promo {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .gallery {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .contact {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
  .contact__form {
    margin: 0;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}
@media (max-width: 1110px) {
  .features__block {
    margin-bottom: 30px;
  }
  .contact__content {
    flex-wrap: wrap;
  }
  .contact__paragrap {
    margin-bottom: 30px;
  }
  .footer__block {
    margin-bottom: 20px;
  }
}
@media (max-width: 920px) {
  .promo__content {
    flex-wrap: wrap;
  }
  .promo__paragraph {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .gallery__content {
    flex-wrap: wrap;
  }
  .gallery__paragrap {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 765px) {
  .header__header {
    flex-wrap: wrap;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav {
    margin-right: 0;
  }
}
@media (max-width: 699px) {
  .features__block {
    margin-left: 0;
  }
}
@media (max-width: 602px) {
  .contact__paragrap {
    margin-right: 0;
  }
}
@media (max-width: 570px) {
  .header__title {
    font-size: 51px;
  }
}
@media (max-width: 543px) {
  .contact__form1 {
    flex-wrap: wrap;
  }
  .contact__input--form1 {
    margin-bottom: 25px;
  }
}
@media (max-width: 425px) {
  .header__title {
    font-size: 30px;
  }
}
